#content-container > #logo-and-title {
    display: flex;

    position: relative;
    top: 2rem;
    left: 1rem;

    gap: var(--spacing-small);

    color: var(--white-dark);
    font-size: var(--large);
}



