dialog {
    border: none;
    background: transparent;
    overflow: visible;
    z-index: 10;
}
dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: var(--width-sidebar);

    gap: var(--spacing-medium);
    padding: var(--spacing-medium) 0;

    background-color: var(--black);
    border-radius: 10px;

    box-shadow: 1px 1px 10px var(--black);
}

form h2 {
    color: var(--white-dark);
}

form label {
    color: var(--white-dark);
    font-size: var(--medium);
    font-weight: bold;
}

form input {
    border-bottom: 2px solid var(--grey);
    outline: none;
    
    color: var(--white-dark);
}

form #label-and-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--spacing-small);
}

form .buttons {
    display: flex;

    gap: var(--spacing-medium);
}

form .buttons button {
    padding: var(--spacing-small);

    color: var(--white);
    font-size: var(--medium);

    border-radius: 10px;
}

form button#cancel {
    background-color: rgb(99, 9, 9);
}

form button#save {
    background-color: rgb(11, 100, 11);
}

/* mission forms */

#addMission-form input,
#editMission-form input {
    font-size: var(--medium);
    width: 10.5rem;
}
#addMission-form .buttons button,
#editMission-form .buttons button {
   width: fit-content;
    
}
#addMission-dialog[open],
#editMission-dialog[open] {
    position: fixed;
    top: 580px;
    left: 25px;
}




