#sidebar-container {
    display: flex;
    flex-direction: column;
    
    height: 100dvh;

    padding: var(--spacing-large);

    background-color: var(--black);

    transition: opacity 0.1s ease-in-out;
}

#sidebar-container.open {
    display: flex;
}

#sidebar-container.close {
    display: none;
}

#sidebarBtn-and-logo {
    display: flex;

    /* to position inside the sidebar */
    position: absolute;
    top: var(--spacing-vlarge);
    left: var(--spacing-vlarge);
    z-index: 1;

    gap: var(--spacing-small);
}

#logo {
    display: flex;

    position: fixed;
    left: 19.5rem;

    gap: var(--spacing-small);

    color: var(--white-dark);
    font-size: var(--large);
}

#task-container,
#mission-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

#task-container {
    /* double the margin due to absolute positioning of sidebar button */
    margin-top: 5rem;
}

#mission-container {
    margin-top: 2.5rem;
}

#task-container > h3,
#mission-container > h3 {
    font-size: var(--medium);
    font-weight: bold;
    color: var(--white-dark);
}

.tab-container {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-small);
}

.tab-container button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: var(--width-sidebar);

    padding: var(--spacing-vsmall) var(--spacing-small);

    font-size: var(--medium);
    color: var(--white-light);

    border-radius: 10px;
}

.tab-container button:hover {
    background-color: var(--black-light);
}

.tab-container .icon-and-title {
    display: flex;
    align-items: center;
    
    gap: var(--spacing-medium);
}

.tab-container .counter {
    color: var(--white-dark);
}

