#header-container {
    display: flex;

    /* to position inside the sidebar */
    position: absolute;
    top: var(--spacing-vlarge);
    left: var(--spacing-vlarge);
    z-index: 3;
}

#logo {
    position: fixed;
    left: 17.5rem;

    gap: var(--spacing-small);

    color: var(--white-dark);
    font-size: var(--large);
}

#themeBtn {
    position: fixed;
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    
    height: 100dvh;

    padding: var(--spacing-large);

    background-color: var(--black);

    transition: opacity 0.1s ease-in-out;
}

#sidebar-container.close {
    display: none;
}

#sidebar-container.open {
    display: flex;
}

#task-container,
#mission-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

#task-container {
    /* double the margin due to absolute positioning of sidebar button */
    margin-top: 5rem;
}

#mission-container {
    margin-top: 2.5rem;
}

#task-container > h3,
#mission-container > h3 {
    font-size: var(--medium);
    font-weight: bold;
    color: var(--white-dark);
}

.tab-container {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-small);
}

.tab-container button:not(#settingsBtn) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: var(--width-sidebar);

    padding: var(--spacing-small) var(--spacing-small);

    font-size: var(--medium);
    color: var(--white);

    border-radius: 10px;
}

.tab-container button:hover:not(#settingsBtn) {
    background-color: var(--grey);
}

.tab-container .icon-and-title {
    display: flex;
    align-items: center;
    
    gap: var(--spacing-medium);
}

.tab-container .counter {
    color: var(--white-dark);
}

.tab-container #mission-wrapper {
    display: flex;
    position: relative;
}

#mission-wrapper:hover #defaultBtn {
    background-color: var(--grey);
}

.tab-container #settingsBtn {
    position: absolute;
    right: 0.35rem;
    top: 0.65rem;
}

@media (max-width: 665px) {
    /* content goes underneath sidebar */
    #content-container {
        position: absolute;
        z-index: 0;
        transition: opacity 0.2s ease-in-out, position 0.2s ease-in-out;
    }
    #sidebar-container {
        z-index: 1;
    }
    #themeBtn {
        transition: opacity 0.2s ease-in-out;
    }
}
