#sidebar-container {
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    height: 100dvh;

    padding: var(--spacing-vlarge);

    background-color: var(--black);
}

#sidebarToggle-btn {
    /* to align with the rest of icons */
    margin: 8px 0 0 8px;
}

#task-container,
#mission-container {
    display: flex;
    flex-direction: column;

    margin-top: 2.5rem;
    gap: var(--spacing-small);
}

#task-container > h3,
#mission-container > h3 {
    font-size: var(--medium);
    font-weight: bold;
    color: var(--white-dark);
}

.tab-container {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-small);
}

.tab-container button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: var(--width-tab);

    padding: var(--spacing-vsmall) var(--spacing-small);

    font-size: var(--medium);
    color: var(--white-light);

    border: none;
}

.tab-container span {
    display: flex;
    align-items: center;
    
    gap: var(--spacing-large);
}

.tab-container .counter {
    color: var(--white-dark);
}
