/* ==== RESET ==== */

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit; 
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
button, input, textarea, select, a {
    font: inherit;
    color: inherit;
    background-color: transparent;
}
button {
    cursor: pointer;
}


.tabs-container {
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
}